* {
    margin: 0;
    padding: 0;
}

.navabar-principal {
    display: flex;
    flex-direction: column;
    background-color: #2C2D32;
}

.navbar {
    margin: 10px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    color: rgb(182, 153, 24);
    font-size: 2.5em;
}

.navbar-lista-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar-lista-li {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icon-icon {
    margin-left: 10px;
}

.container-titulo-navbar {
    margin: 50px 30px;
    padding: 50px;
    display: flex;
    align-items: center;;
}

.titulo-imagen img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.titulo-descripcion-titulo-tipo {
    color: #ffc107;
}


/* SECTION PORTAFOLIO */

.section-portafolio {
    background-color: #323338;
}

.section-portafolio-tecnologias {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

/* PROYECTOS */
.section-proyectos{
    background-color: #2C2D32;
}

.section-proyectos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}       

.section-proyectos-proyectos{
    margin: 30px;
}

.section-contact-main{
    background-color: #323338;
}

.section-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}